

<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poiret+One&family=Raleway&display=swap" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="css/landing.css"> 
  </head>
<body>

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {{!-- <a class="navbar-item" href="home.html">
                Dash
                </a>  
                <a class="navbar-item" href="portfolio.html">
                sign up
                </a>
                <a class="navbar-item" href="contact.html">
                login
                </a>   --}}
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            <a href="/profile">profile</a> |
            <button class="no-button" id="logout">logout</button>
            {{else}}
            <a href="/login">login</a>
            {{/if}}
            </div>        
        </div>
    </nav>


{{!-- add image or logo to the card?
    <div class="card landing">
      <div class="card-content">
        <figure>
          {{!-- <img class="sitelogo" src="images/site logo.png"> --}}
        </figure >
 {{!-- add buttons to login --}}
      </div>
    </div> --}}

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
        <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
    
    </body>

</html>


